* { box-sizing: border-box; }

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    line-height: 1.7;
    background: #000000;
    color: #ffffff;

    font-family: "Atkinson Hyperlegible Mono", system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", sans-serif;
    font-weight : 500;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding : 24px 16px 80px;
}
.hero {
    min-height: 100vh;

    background-image:
        linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
        url("./img/milkyway.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    padding: 0 24px;
}

.hero h1, .hero h2 {
    color: white;
}

h3 {
    font-size : 20px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.profile-list {
    list-style: none;
    padding: 0;
    margin: 12px 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-item {
    font-size: 18px;
    font-weight: 400;
    gap : 8px;
}



.lang-list {
    list-style : none;
    padding: 0;
    margin: 12px 0 24px;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.lang-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang-logo {
    width : 36px;
    height : 36px;
    border-radius: 5px;

    background: #ffffff;
    display: grid;
    place-items: center;
    flex: 0 0 auto;
}

.lang-logo img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    display: block;
}

.lang-name {
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
}


hr {
    border: 0;
    margin: 18px 0;
}


a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.theme-toggle{
    position: fixed;
    top: 16px;
    right: 16px;
    background: rgba(0,0,0,.35);
    border: 1px solid rgba(255,255,255,.35);
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 999px;
    backdrop-filter: blur(6px);
}

body.theme-light {
    background: #ffffff;
    color: #111111;
}

body.theme-light .theme-toggle {
    border: 1px solid rgba(0,0,0,.25);
    background: rgba(255,255,255,.25);
    color: #111;
}

body.theme-light .hero{
  background-image:
    linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,.15)),
    url("./img/milkyway.jpg");
}

body.theme-light hr{
  border-top-color: transparent; 
}

body.theme-light .lang-logo {
    border: 1px solid rgba(0,0,0,.18);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .18);
    background: white;
}

.footer {
    padding: 24px 16px 40px;
    display: flex;
    justify-content: center;
}

.github-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;

    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, .35);

    background: white;
    color: inherit;
    text-decoration: none;
    box-shadow: 0 2px 5px white;
}

.github-logo img {
    width: 24px;
    height: 24px;
    display: block;
}

.github-text {
    font-weight: 600;
    font-size: 14px;
    color: black;
}

body.theme-light .github-link {
    border: 1px solid rgba(0,0,0,.25);
    border-width: 1px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .18);
}

body.theme-light .github-link:hover {
    background: rgba(0, 0, 0,.35);
    border-color: rgba(0, 0, 0, .25);
}


@media (max-width: 360px) {
    .container {
        padding: 20px 12px;
    }
    body {
        font-size: 15px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 36px 28px;
    }
    body {
        font-size: 17px;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 22px;
    }
    hr {
        margin: 22px 0;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 48px 24px;
    }
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 24px;
    }
}